name: Build the example

on:
  pull_request:
    branches: [master, dev]

jobs:
  build_linux:
    name: Build Linux and Web Apps
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Check flutter version
        run: flutter --version

      - name: Enable Local Dev
        run: ./scripts/enable_local_dev.sh
    
      - name: Install dependencies
        run: flutter pub get
      
      - name: Flutter build Web
        run: flutter build web --release --verbose --dart-define=CI=true
        working-directory: ./example

      - name: Install flutter Linux prerequisites
        run: sudo apt-get install clang cmake git ninja-build pkg-config libgtk-3-dev liblzma-dev libstdc++-12-dev -y

      - name: Flutter build Linux
        run: flutter build linux --release --verbose --dart-define=CI=true
        working-directory: ./example

  # build_windows:
  #   name: Build Windows App
  #   runs-on: windows-latest

  #   steps:
  #       - uses: actions/checkout@v4
  #       - uses: subosito/flutter-action@v2
  #         with:
  #           channel: 'stable'
  #           cache: true
  
  #       - name: Check flutter version
  #         run: flutter --version

  #       # Sh scripts is not supported on windows
  #       - name: Enable Local Dev
  #         run: ./scripts/enable_local_dev.sh
        
  #       - name: Install dependencies
  #         run: flutter pub get
        
  #       - name: Flutter build windows
  #         run: flutter build windows --release --verbose --dart-define=CI=true
  #         working-directory: ./example

  # build_macOS:
  #   name: Build macOS App
  #   runs-on: macos-latest

  #   steps:
  #       - uses: actions/checkout@v4
  #       - uses: subosito/flutter-action@v2
  #         with:
  #           channel: 'stable'
  #           cache: true
  
  #       - name: Check flutter version
  #         run: flutter --version

  #       - name: Enable Local Dev
  #         run: ./scripts/enable_local_dev.sh
        
  #       - name: Install dependencies
  #         run: flutter pub get
        
  #       - name: Flutter build macOS
  #         run: flutter build macos --release --verbose --dart-define=CI=true
  #         working-directory: ./example

  #       - name: Flutter build iOS
  #         run: flutter build ios --release --verbose --dart-define=CI=true
  #         working-directory: ./example